openapi: 3.1.0
info:
  title: Classy
  version: '1.0'
  summary: Lumibib Classy REST API
  description: Lumibib Classy REST API
  contact:
    name: Lumibib
    email: support@lumibib.ch
  termsOfService: 'https://lumibib.ch/legal/terms'
servers:
  - url: 'https://demo.classy.lumibib.ch/api/v1'
    description: Demo instance
  - url: 'https://ORG.classy.lumibib.ch/api/v1'
    description: Your organisation
paths:
  '/classifications/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Unique ID
    get:
      summary: Get Classification by ID
      tags: []
      responses:
        '200':
          description: Classification Found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Classification'
              examples:
                Get Classification A:
                  value:
                    type: classifications
                    id: K8lwg7bGxznj4e
                    attributes:
                      name: Classification A
                      description: Example A
                      status: active
                      catalog_uri: 'https://example.com'
                      codes:
                        - - '100'
                          - Label A fr
                          - Note A fr
                          - Comment A
                      data: []
                      createdAt: '2021-07-11T11:31:02.000000Z'
                      updatedAt: '2021-07-11T11:31:02.000000Z'
                    links:
                      self: 'http://test.classy.test/api/v1/classifications/K8lwg7bGxznj4e'
        '404':
          description: Classification Not Found
      operationId: get-classifications-id
      description: Retrieve the classification with the matching ID.
      parameters: []
  /classifications:
    get:
      summary: Get Classifications
      tags: []
      operationId: get-classifications
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Classification'
              examples:
                example-1:
                  value:
                    type: classifications
                    id: AAAAAAAAAAAAAA
                    attributes:
                      name: string
                      description: Example A
                      status: string
                      catalog_uri: 'https://example.com'
                      codes:
                        - '0':
                            - {}
                      data: []
                      createdAt: '2021-06-22T14:17:08.000000Z'
                      updatedAt: '2021-06-22T14:17:08.000000Z'
                    links:
                      self: string
      description: Retrieve all classifications.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/filter'
    parameters: []
  /sequentialprefixes:
    get:
      summary: Get Sequential Prefixes
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SequentialPrefix'
      operationId: get-sequentialprefixes
      description: Retrieve all sequential prefixes.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
  '/sequentialprefixes/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Unique ID
    get:
      summary: Get Sequential Prefix by ID
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SequentialPrefix'
      operationId: get-sequentialprefixes-id
      description: Retrieve the sequential prefix with the matching ID.
components:
  schemas:
    Classification:
      description: ''
      type: object
      x-examples:
        example-1:
          type: classifications
          id: R8M4yx8BW0LlQZ
          attributes:
            name: Test
            description: null
            status: active
            catalog_uri: null
            codes:
              - - '100'
                - Label A fr
                - Note A fr
                - Comment A
            data: null
            createdAt: '2021-07-08T14:06:43.000000Z'
            updatedAt: '2021-07-08T14:25:24.000000Z'
          links:
            self: 'http://test.classy.test/api/v1/classifications/R8M4yx8BW0LlQZ'
      title: Classification
      properties:
        type:
          type: string
          enum:
            - classifications
        id:
          type: string
          example: AAAAAAAAAAAAAA
        attributes:
          type: object
          required:
            - name
          properties:
            name:
              type: string
            description:
              type: string
            status:
              type: string
            catalog_uri:
              type: string
            codes:
              type: array
              items: {}
            data:
              type: array
              items: {}
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
        links:
          type: object
          properties:
            self:
              type: string
      required:
        - type
        - id
        - attributes
    SequentialPrefix:
      description: ''
      type: object
      x-examples:
        example-1:
          type: sequentialprefixes
          id: R8M4yx8BW0LlQZ
          attributes:
            prefix: ABC-
            description: 'Ad Quam ob rem ut ii qui superiores sunt submittere se debent in amicitia, sic quodam modo inferiores extollere.'
            status: active
            first_code: 1
            last_code: 100
            code_incrementation: 1
            desactivated_codes: null
            last_code_added_datetime: '2021-04-15 12:00:00'
            data: null
            createdAt: null
            updatedAt: '2021-07-08T14:36:49.000000Z'
          links:
            self: 'http://test.classy.test/api/v1/sequentialprefixes/R8M4yx8BW0LlQZ'
      properties:
        type:
          type: string
        id:
          type: string
          example: AAAAAAAAAAAAAA
        attributes:
          type: object
          required:
            - prefix
            - first_code
            - last_code
            - code_incrementation
          properties:
            prefix:
              type: string
            description:
              type: string
            status:
              type: string
            first_code:
              type: number
            last_code:
              type: number
            code_incrementation:
              type: number
            desactivated_codes:
              type: string
            last_code_added_datetime:
              type: string
            data:
              type: array
              items: {}
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
        links:
          type: object
          required:
            - self
          properties:
            self:
              type: string
              minLength: 1
      required:
        - type
        - id
        - attributes
        - links
  securitySchemes: {}
  parameters:
    page:
      name: page
      in: query
      required: false
      schema:
        type: string
        example: 'page[number]=2&page[size]=15'
      description: Allow to return a subset of results. You have to use ´number and ´size parameters.
    filter:
      name: filter
      in: query
      required: false
      schema:
        type: string
        example: 'filter[name]=hello-world'
      description: Allow to scope results based on a value.
    sort:
      name: sort
      in: query
      required: false
      schema:
        type: string
        example: name | -name
      description: The order in which resources are to be returning. Adding a ´-´ sort resourcesin the descending order.
